<div class="row p-4">
    <div class="col-lg-6">
        <div class="card-header bg-primary">
            <h3>Student</h3>
        </div>
        <div class="card p-2 " style="height: 150px;">
            <p>A student is primarily a person enrolled in a school or other educational institution and who is under
                learning with goals of acquiring knowledge, developing professions and achieving easy employment at a
                particular field.</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card-header bg-primary">
            <h3>Teacher</h3>
        </div>
        <div class="card p-2" style="height: 150px;">
            <p>A teacher is a person who helps students to acquire knowledge, competence or virtue. Informally the role
                of teacher may be taken on by anyone.</p>
        </div>
    </div>
</div>

<!-- <div class="p-4">
    <div  class="row ">
        <div  class=" mt-3" >
            <div  class="card-header bg-primary">
                <h3 >Student</h3>
            </div>
            <div  class="card p-2">
                <p>A student is primarily a person enrolled in a school or other educational institution and who is under learning with goals of acquiring knowledge, developing professions and achieving easy employment at a particular field.</p>
            </div>
        </div>
    </div>
</div>

<div class="p-4">
    <div  class="row ">
        <div  class=" mt-3" >
            <div  class="card-header bg-primary">
                <h3 >Teacher</h3>
            </div>
            <div  class="card p-2">
                <p>A teacher is a person who helps students to acquire knowledge, competence or virtue. Informally the role of teacher may be taken on by anyone.</p>
            </div>
        </div>
    </div>
</div> -->